*.class
.classpath
.settings
*/target/*
*/target/*
/target/
*/logs
/logs/
/.idea/
*/target*
*.iml
.idea/
*/FFDC/*
FFDC/
.idea/*
*old*
.idea/*.xml
.idea/*.iml
.DS_Store
src/.DS_Store
src/main/.DS_Store
*/.mvn/*
.project
.factorypath
mvnw
mvnw.cmd